<h1 class="welcm_msg text-center"><%= I18n.t("app.dashboard") %></h1>

<div class="row">
  <div class="col-md-5">
    <div id="chartContainer"></div>
  </div>
  <div class="col-md-6">
    <div id="graphContainer"></div>
  </div>
  <div class="col-md-1"></div>
</div>

<hr>


<div class="row">

  <div class="col-md-3">
    <div class="filter">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><span class="glyphicon glyphicon-envelope"></span>
               <%= I18n.t("app.email_filter") %>
             </th>
          </tr>
        </thead>
        <tbody>
          <% sub_domain(@users).each do |val| %>
            <tr>
              <td>
                <label class="checkbox-inline" for = "<%= val %>" >
                  <input type="checkbox" id = "<%= val%>" value=""><%= link_to val, filter_url(val), "data-remote": true, class: val %></label>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><span class="glyphicon glyphicon-filter"></span> <%= I18n.t("app.lastname_filter") %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% characters_group.each do |val| %>
            <tr>
              <td>
                <label class="checkbox-inline" for = "<%= val %>">
                  <input type="checkbox"  id = "<%= val%>" value="">
                  <%= link_to val, filter_url(val), "data-remote": true, class: val %>
                </label>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="display-users">
    <%= render 'shared/users' %>
  </div>
</div>


<script type="text/javascript">
  $(function() {
    displayGraphAndChart( <%= @users.to_json.html_safe %> )
    $('.canvasjs-chart-credit').remove();
  })
</script>
