<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("app.name") %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <div id="navigation_bar">
      <%= render 'shared/navbar' %>
    </div>
    <div class="container-fluid">
      <%= yield %>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" id="myModalLabel"><%= I18n.t("app.create_user") %></h2>
            </div>
            <div class="modal-body">
              <%= render 'shared/user_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
